@font-face {
    font-family: 'Terminus';
    src: url('Terminus.ttf') format('truetype');
}
body {
    font-family: 'Terminus', monospace;
    font-size: 1.1rem;
    color: #C0C0C0;
    background-color: #4E4E4E; 
    padding: 0 1rem 0 1rem;
}
h1{
   padding: 1rem 0 0 1rem;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none; 
    text-shadow: 1px 1px 2px #ff69b4, 0 0 1em rgb(255, 0, 230), 0 0 0.2em rgb(255, 0, 123);
}
a:visited {
    color: inherit; 
}
footer{
    padding: 1rem;          
 }
.grey{
    padding: 1rem;
    color: #C0C0C0;
    background-color: #4E4E4E;  
    border-top: 1px solid #C0C0C0;
 }
.dark-grey{
    padding: 1rem;
    color: #C0C0C0;
    background-color: #333; 
    border-bottom: 2px solid #4E4E4E;
 }
.dark-grey-orange {
    padding: 1rem;
    color: #FFA500;  /* Оранжевый цвет */
    background-color: #333;
    border-bottom: 2px solid #4E4E4E;
}
.dark-grey-light-orange {
    padding: 1rem;
    color: #FFDB99;  /* Светло-оранжевый цвет */
    background-color: #333;
    border-bottom: 2px solid #4E4E4E;
}
.black-grey {
    padding: 1rem;
    color: #E5E5E5;
    background-color: #000000;
    border-bottom: 2px solid #4E4E4E;
}
.black-dark-grey {
    padding: 1rem;
    color: #CECECE;
    background-color: #000000;
    border-bottom: 2px solid #4E4E4E;
}
.black-ivory {
    padding: 1rem;
    color: #FFFFF0;
    background-color: #000000;
    border-bottom: 2px solid #4E4E4E;
}
.david-io {
    padding: 1rem;
    color: #F8F8F2;
    background-color: #282A36;
    border-bottom: 2px solid #4E4E4E;
}