* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    top: 0;
    width: 100%;
    padding: 1rem;
    height: 1.5rem;
    font-size: 1rem;
    color: #fc9867;
    text-align: center;
    background-color: #000;
}
/* body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #000;
} */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-size: 1.5rem;
    line-height: 1.1rem;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: rgb(210, 242, 210);
    font-family: monospace;
}
a, a:visited{
    color: #ffd866;
}
.grid-container {
    width: 10rem;
    height: 10rem;
    background-color: #000;
}
.cell {
    position: relative;
    background-color: #000;
}
.cell::before {
    top: -50%;
    left: 50%;
    content: '';
    width: 0.2rem;
    position: absolute;
    transform-origin: center;
    background-color: var(--line-color);
    transform: translateX(-50%) rotate(var(--rotation));
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}