body {
    margin: 0;
    /* background-color: #333; */
    background-color: #222;
    color: #fff;
    font-family: "Titillium Web", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding: 2rem;
    border-radius: 1rem;
}

.top-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 1px solid #555;
    padding-bottom: 1rem;
}

.weather, .date-day {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
}

.weather {
    align-items: flex-start;
}

.date-day {
    align-items: flex-end;
    text-align: right;
}

.city, .temp, .date, .day {
    margin: 0.2rem 0;
}

.flip-clock {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.flip-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    position: relative;
    /* background-color: #777; */
    border-radius: 1rem;
    overflow: hidden;
}

.flip-number {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-family: monospace, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #555;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-number.top {
    transform: rotateX(0);
    transform-origin: bottom;
}

.flip-number.bottom {
    transform: rotateX(180deg);
    transform-origin: top;
}

.flip-section.flip .top {
    animation: flip-top 0.6s forwards;
}

.flip-section.flip .bottom {
    animation: flip-bottom 0.6s forwards;
}

.back {
    margin: 1rem auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem 3rem; 
  }

  .knopka {
    background-color: #222; 
    border: 1px solid #333;  
    padding: 0.4em 0.8em; 
    color: darkgray;
    text-decoration: none; 
    font: 1rem/1.3;
    font-weight: 600;
    font-size: smaller;
    border-radius: 5px;
  
    /* Выравнивание по центру блока .back */
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
  .knopka:hover {
    background: #333;
    border: 2px solid #ff1e42;
  }

@keyframes flip-top {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(-180deg);
    }
}

@keyframes flip-bottom {
    0% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
