@font-face {
    font-family: 'Titillium Web';
    src: url('../../styles/TitilliumWeb.woff2') format('truetype');
}
body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1rem;
    background: black;
    color: white;
    margin: 0;
    text-align: center;
    padding: 0 1rem 0 1rem;
}
.container {
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.chart {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: 0.6rem;
    padding: 1.75rem 0;
}
.color-box {
    padding: 1.25rem;
    height: 8rem;  
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.2rem;
}
.color-name {
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
}
.hex {
    font-size: 0.9em;
}
h1{
    padding: 1rem 0 0 1rem;
    color: #ebf6f7;
    text-align: left;
}
a {
    text-decoration: none;
    color: #ebf6f7;
}
a:hover {
    text-decoration: none; 
    text-shadow: 1px 1px 2px #ff69b4, 0 0 1em rgb(255, 0, 230), 0 0 0.2em rgb(255, 0, 123);
}
a:visited {
    color: inherit; 
}
footer {
    color: #ebf6f7;
    text-align: left;
    max-width: 60rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

